In [ ]:
#import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
#normalization function
def normalizearr(arr):
  mean = np.mean(arr,axis=0)
  std = np.std(arr,axis=0)
  arrnorm= (arr-mean)/std
  return arrnorm

In [ ]:
#load may 3 data - linear baseline corrected
data3may = pd.read_csv('/content/drive/My Drive/ED_AA_AI/spring23_dataprocessed/23_may3/may3fullbaselinelinearnotnormalized.csv')

In [ ]:
#print head
data3may.head()

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,labels,file
0,0.0,-0.003948,-0.005745,-0.013974,-0.017291,-0.019094,-0.010199,-0.001974,0.001256,-0.002660,...,-0.015105,-0.005080,0.000920,0.014810,-0.015582,0.012836,-0.002374,0.0,L_Proline,feb7
1,0.0,-0.023946,0.005688,-0.004492,0.002285,0.021508,0.025094,0.003451,0.021539,0.031765,...,0.016556,0.024326,0.048935,0.037194,0.044587,0.015952,0.017479,0.0,L_Proline,feb7
2,0.0,0.003637,0.016060,0.011741,0.012065,0.013699,0.017344,0.011104,0.013883,0.027348,...,-0.007926,-0.001473,-0.007281,0.013418,0.002928,0.023828,0.010745,0.0,L_Proline,feb7
3,0.0,-0.009657,0.024342,0.012211,-0.007716,-0.013797,0.001940,0.031969,0.009083,0.041681,...,-0.013641,-0.016722,-0.020625,-0.015813,-0.012739,-0.013280,-0.002411,0.0,L_Proline,feb7
4,0.0,-0.014923,0.002318,-0.020632,-0.020439,-0.043308,-0.013390,-0.028657,-0.002323,0.002113,...,0.013979,0.005283,0.010295,0.017501,0.042545,0.039770,0.015187,0.0,L_Proline,feb7

In [ ]:
#print shape
data3may.shape

(679, 74)

In [ ]:
#apply normalization
for i in range(len(data3may)):
  data3may.iloc[i,:72] = normalizearr(np.array(data3may.iloc[i,:72]))

In [ ]:
#validate the normalized data (following cells)
data3may.head()

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,labels,file
0,0.729527,0.560786,0.484011,0.132320,-0.009412,-0.086486,0.293669,0.645147,0.783205,0.615831,...,0.084025,0.512428,0.768863,1.362439,0.063642,1.278079,0.628093,0.729527,L_Proline,feb7
1,-0.264467,-1.171013,-0.049127,-0.434529,-0.177947,0.549769,0.685510,-0.133812,0.550936,0.938087,...,0.362289,0.656464,1.588079,1.143581,1.423483,0.339425,0.397256,-0.264467,L_Proline,feb7
2,0.508570,0.610841,0.960223,0.838752,0.847853,0.893823,0.996319,0.820853,0.898995,1.277653,...,0.285659,0.467151,0.303806,0.885929,0.590915,1.178663,0.810755,0.508570,L_Proline,feb7
3,0.707358,0.352809,1.601028,1.155652,0.424100,0.200836,0.778570,1.881039,1.040818,2.237565,...,0.206547,0.093458,-0.049846,0.126802,0.239680,0.219804,0.618857,0.707358,L_Proline,feb7
4,0.170564,-0.420655,0.262387,-0.646842,-0.639161,-1.545182,-0.359907,-0.964754,0.078531,0.254270,...,0.724374,0.379854,0.578413,0.863892,1.856111,1.746167,0.772242,0.170564,L_Proline,feb7

In [ ]:
data3may.shape

(679, 74)

In [ ]:
data3may['file'].unique()

array(['feb7', 'Feb21', 'old', 'March3', 'March13', 'March10', 'March20',
       'mar24', 'mar29', 'april17', 'may3'], dtype=object)

In [ ]:
data3may['labels'].unique()

array(['L_Proline', 'L_Lysine', 'L_Glutamine', 'L_Arginine', 'L_Serine',
       'L_Histidine', 'L_Threonine', 'L_Asparagine', 'L_Phenylalanine',
       'L_Alanine', 'L_Glutamate', 'L_Methionine', 'L_Cystine',
       'L_Valine', 'L_Isoleucine', 'L_Tryptophan', 'L_Leucine'],
      dtype=object)

In [ ]:
#save the data
data3may.to_csv('/content/drive/My Drive/ED_AA_AI/spring23_dataprocessed/23_may3/may3fullbaselinlinearnormalized.csv', index = False)