In [ ]:
#importing libraries
import pandas as pd
import os
from sklearn import tree
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
from sklearn.tree import export_text
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from keras.layers import Dense, Conv1D, Flatten, Dropout
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import StratifiedKFold
from keras.backend import dropout
import keras
from keras.layers.normalization.batch_normalization_v1 import BatchNormalization
import seaborn as sn
from scipy import sparse
from scipy.sparse.linalg import spsolve

In [ ]:
#may3 - load linear baseline normalized data
df_full = pd.read_csv('/content/drive/My Drive/ED_AA_AI/spring23_dataprocessed/23_may3/may3fullbaselinlinearnormalized.csv')

In [ ]:
#print shape
df_full.shape

(679, 74)

In [ ]:
#code to rank and filter based on correlation - cells below

In [ ]:
#dataframe to store data with their correlation values
df_corrsplit = pd.DataFrame()

In [ ]:
#make a copy of the dataframe - linear baseline normalized data
df_full_baseline = df_full

In [ ]:
#find correlation of each sequence with it's corresponding mean sequence
for i in df_full_baseline['labels'].unique():
  df_temp = df_full_baseline[df_full_baseline['labels']==i]


  corr = pd.Series(df_temp.iloc[:,:72].T.corrwith(df_temp.mean(axis=0),method='spearman'))
  df_temp['corrp'] = corr
  df_temp['labels'] = i

  df_corrsplit = pd.concat([df_corrsplit,df_temp],axis=0)

In [ ]:
df_corrsplit.shape

(679, 75)

In [ ]:
df_corrsplit.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,labels,file,corrp
0,0.729527,0.560786,0.484011,0.132320,-0.009412,-0.086486,0.293669,0.645147,0.783205,0.615831,...,0.512428,0.768863,1.362439,0.063642,1.278079,0.628093,0.729527,L_Proline,feb7,0.706182
1,-0.264467,-1.171013,-0.049127,-0.434529,-0.177947,0.549769,0.685510,-0.133812,0.550936,0.938087,...,0.656464,1.588079,1.143581,1.423483,0.339425,0.397256,-0.264467,L_Proline,feb7,0.750655
2,0.508570,0.610841,0.960223,0.838752,0.847853,0.893823,0.996319,0.820853,0.898995,1.277653,...,0.467151,0.303806,0.885929,0.590915,1.178663,0.810755,0.508570,L_Proline,feb7,0.728596
3,0.707358,0.352809,1.601028,1.155652,0.424100,0.200836,0.778570,1.881039,1.040818,2.237565,...,0.093458,-0.049846,0.126802,0.239680,0.219804,0.618857,0.707358,L_Proline,feb7,0.727631
4,0.170564,-0.420655,0.262387,-0.646842,-0.639161,-1.545182,-0.359907,-0.964754,0.078531,0.254270,...,0.379854,0.578413,0.863892,1.856111,1.746167,0.772242,0.170564,L_Proline,feb7,0.788407

In [ ]:
df_corrsplit.tail()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,labels,file,corrp
554,0.258775,0.582222,0.719024,0.494940,0.948852,0.679432,0.721865,1.524508,1.156817,1.884187,...,0.179856,1.056171,1.291860,1.633047,0.626413,0.342866,0.258775,L_Leucine,mar24,0.887386
555,0.663483,0.625266,-0.024722,-0.269527,-0.425659,0.053165,-0.244119,-0.459035,0.265749,0.904293,...,1.970706,1.976676,2.798026,1.698172,0.758435,0.685762,0.663483,L_Leucine,mar24,0.900667
556,0.649304,0.514209,-0.324723,0.814374,-0.386020,0.302345,0.576930,0.645921,1.168660,1.323669,...,1.346754,0.533416,0.832840,0.444264,0.868920,1.113339,0.649304,L_Leucine,mar24,0.876903
557,0.526471,-0.442709,0.315680,-0.285354,-0.583893,-0.569704,0.603291,0.497402,0.719592,1.613877,...,0.136514,1.376963,0.981663,1.590607,0.761510,1.204844,0.526471,L_Leucine,mar24,0.770496
558,-0.812444,1.130105,0.857637,0.951724,1.792133,1.404540,1.953781,1.590198,1.755751,1.718587,...,-0.554567,-0.258246,-0.520124,-0.484794,-0.756570,-0.568160,-0.812444,L_Leucine,mar24,0.492499

In [ ]:
#make a copy of the dataframe with correlation values
df_rank = df_corrsplit

In [ ]:
#removing 3 least ranked ones.

In [ ]:
df_rank.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,labels,file,corrp
0,0.729527,0.560786,0.484011,0.132320,-0.009412,-0.086486,0.293669,0.645147,0.783205,0.615831,...,0.512428,0.768863,1.362439,0.063642,1.278079,0.628093,0.729527,L_Proline,feb7,0.706182
1,-0.264467,-1.171013,-0.049127,-0.434529,-0.177947,0.549769,0.685510,-0.133812,0.550936,0.938087,...,0.656464,1.588079,1.143581,1.423483,0.339425,0.397256,-0.264467,L_Proline,feb7,0.750655
2,0.508570,0.610841,0.960223,0.838752,0.847853,0.893823,0.996319,0.820853,0.898995,1.277653,...,0.467151,0.303806,0.885929,0.590915,1.178663,0.810755,0.508570,L_Proline,feb7,0.728596
3,0.707358,0.352809,1.601028,1.155652,0.424100,0.200836,0.778570,1.881039,1.040818,2.237565,...,0.093458,-0.049846,0.126802,0.239680,0.219804,0.618857,0.707358,L_Proline,feb7,0.727631
4,0.170564,-0.420655,0.262387,-0.646842,-0.639161,-1.545182,-0.359907,-0.964754,0.078531,0.254270,...,0.379854,0.578413,0.863892,1.856111,1.746167,0.772242,0.170564,L_Proline,feb7,0.788407

In [ ]:
#Filter 3 least correlated sequence and validate (following cells below)
df_corrank = pd.DataFrame()
for i in df_rank['labels'].unique():
  df_temp = df_rank[df_rank['labels']==i]
  df_temp_sort = df_temp.sort_values('corrp').iloc[3:,:]



  df_corrank = pd.concat([df_corrank,df_temp_sort],axis=0)

In [ ]:
df_corrank.shape

(628, 75)

In [ ]:
df_corrank.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,labels,file,corrp
346,0.774108,0.919357,0.943766,0.920860,1.193478,1.149284,1.162065,1.232092,1.166252,0.731095,...,0.936681,1.392661,1.002584,0.920197,0.751228,1.308816,0.774108,L_Proline,old,0.591285
333,0.880882,1.195535,0.732952,0.742090,1.030170,0.905313,0.205019,0.502117,0.729721,0.635706,...,1.498847,0.985292,1.183907,1.024907,0.624169,0.668094,0.880882,L_Proline,old,0.623700
0,0.729527,0.560786,0.484011,0.132320,-0.009412,-0.086486,0.293669,0.645147,0.783205,0.615831,...,0.512428,0.768863,1.362439,0.063642,1.278079,0.628093,0.729527,L_Proline,feb7,0.706182
341,1.005560,0.992360,1.226905,1.010713,0.830727,1.338801,1.120361,1.251085,1.330762,1.497992,...,0.969992,0.666996,0.842621,1.182710,1.215611,0.555655,1.005560,L_Proline,old,0.724608
3,0.707358,0.352809,1.601028,1.155652,0.424100,0.200836,0.778570,1.881039,1.040818,2.237565,...,0.093458,-0.049846,0.126802,0.239680,0.219804,0.618857,0.707358,L_Proline,feb7,0.727631

In [ ]:
df_corrank.groupby('labels').size()

labels
L_Alanine          132
L_Arginine         142
L_Asparagine        17
L_Cystine           12
L_Glutamate         26
L_Glutamine         22
L_Histidine         22
L_Isoleucine        37
L_Leucine           37
L_Lysine            42
L_Methionine        17
L_Phenylalanine     37
L_Proline           22
L_Serine            17
L_Threonine         17
L_Tryptophan        12
L_Valine            17
dtype: int64

In [ ]:
df_full.groupby('file').size()

file
Feb21       50
March10     25
March13     20
March20     25
March3      50
april17     50
feb7        85
mar24       50
mar29       30
may3        40
old        254
dtype: int64

In [ ]:
df_corrank.groupby('file').size()

file
Feb21       49
March10     25
March13     19
March20     25
March3      50
april17     50
feb7        65
mar24       48
mar29       30
may3        38
old        229
dtype: int64

In [ ]:
#save the data
df_corrank.to_csv('may3fulllinearrankedfiltered.csv',index=False)